*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.first-container{
    display:flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
    padding:10px;
}
.name{
    padding:10px 30px;
    font-size: 20px;;
    letter-spacing: 3px;
    cursor: pointer;
}
.name:hover{
    background-color: crimson;
}
.nav-bar li{
    float: left;
    padding:10px 25px;
    list-style: none;
    cursor: pointer;
}
.nav-bar li:hover{
    background-color: crimson;
}
.nav-bar a{
    text-decoration: none;
    color:black;
    letter-spacing: 5px;
}
.image p{
    font-size: 40px; 
    font-weight: 400;
    margin-top: -80px;
    margin-left: 40px;
    letter-spacing: 4px;
}
.smain-container{
    width:85%;
    margin:100px auto;
    display: flex;
}

.sfirst-container{
    opacity: 0.7;
}
.sname{
    margin:10px 80px;
}

.sname h1{
    letter-spacing: 6px;
    margin-left: 70px;
    margin-bottom: 50px;
}
.sname .date{
    letter-spacing: 6px;
    font-size: 20px;
    margin-left: 90px;
    margin-bottom: 50px;
}
.sname .para{
    margin:-20px 0px;
    font-size: 20px;
    word-spacing: 3px;
    text-align: justify;
}
.sname .npara{
    margin:40px 0px;
    font-size: 20px;
    word-spacing: 3px;
    text-align: justify;  
}
.tmain-container{
    width: 85%;
    margin:0px auto;
    justify-content: space-between;
    display: flex;
}
.tfirst-container h1{
    margin: 50px 200px;
    letter-spacing: 5px;
}
.tfirst-container h2{
    margin:30px;
    letter-spacing: 3px;
}
.tfirst-container p{
    margin: 30px;
}
.timage{
    opacity: 0.7;
}
.fmain-container{
    width: 85%;
    margin: 180px auto;
}
.ffirst-container h1{
    letter-spacing: 3px;
    margin-bottom: 40px;;
}
.small{
    margin:40px 0px;
    font-size: 20px;
}
.stylish{
    margin:40px 0px;
    font-size: 20px;
    color:grey;
}
.field{
    margin:20px;
    width:100%;
    height: 50px;
    border: none;
    border-bottom: 0.1px solid black;
}