*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.first-container{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.list li{
    list-style: none;
    float:left;
}
.list a{
    display: block;
    text-decoration:none;
    color:white;
    padding:15px 27px;
}
.list a:hover{
    background-color: gray;
}
.dropdown-content { 
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}
.dropdown-content a{
    color: black;
}
.dropdown:hover  .dropdown-content{
    display: block;
}
.search{
    color:white;
    padding:15px;
    cursor: pointer;
}
.search:hover{
    background-color: gray;
}
.triple{
    display: none;
}
.name{
    text-align: center;
    margin-top:-150px;
    font-size: 20px;
    color:white;
}
.name h1{
    margin:10px;
}
.sec-main-container{
    width:60%;
    margin:150px auto;
}
.sec-first-container h1{
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.small{
    text-align: center;
    color:grey;
    margin-bottom: 20px;
    font-style: italic;
}
.large{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 40px;
}
.sec-second-container{
    display: flex;
    justify-content: space-between;
}
.banner h3{
    text-align: center;
    margin-bottom: 10px;
}
.banner img{
    margin:0px 40px;
    width:200px;
    height: 200px;
}
.trd-main-container{
    background-color: black;
    padding-bottom: 60px;
}
.trd-first-container h1{
    text-align: center;
    color:white;
}
.trd-first-container  p{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color:grey;
    margin-bottom: 20px;
    font-style: italic;
}
.one-div , .last-div{
    padding:8px;
    background-color: white;
    display: flex;
    width:50%;
    margin:0px auto;
    border-bottom-style: solid;
    border-width: 0.1px;
}
.last-div{
    justify-content: space-between;
}
.sep{
    margin-left: 10px;
    color:gray;
    font-size: 20px;
}
.sold{
    margin-left: 20px;
    padding:5px 20px;
    color:white;
    background-color: red;
}
.nov{
    margin-left: 10px;
    color:gray;
    font-size: 20px;
}
.three{
    color:white;
    margin-right:60px;
    margin-top: 5px;
    font-size: 20px;
    background-color: black;
    border-radius:50%;
    width: 25px;
    height: 25px;
    text-align: center;
}
.trd-second-container{
    margin:30px 20px;
    background-color: black;
    display: flex;
    width:53%;
    margin:30px auto;
}
.trd-second-container img{
    height: 200px;
    width: 250px;
}
.f-div{
    margin-left: 15px;
    background-color: white;
}
.f-div img:hover{
    opacity: 0.8;
}
.f-div h1{
    margin:15px;
    font-size: 20px;
}
.para{
    margin:15px;
}
.f-div .date{
    margin:15px;
    color:grey;
}
.f-div .button{
    background-color: black;
    color:white;
    margin:15px;
    padding:10px 20px;
    border:none;
    cursor: pointer;
}
.f-div .button:hover{
    background-color: gray;
}
.for-main-container{
    width: 53%;
    margin:80px auto;
    margin-bottom: 40px;
}
.for-first-container{
    text-align: center;
}
.for-first-container h1{
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 20px;
}
.for-first-container p{
    color:gray;
    font-style: italic;
    font-style: 20px;
    margin-bottom: 60px;

}
.cont{
    display: flex;
}
.c-name p{
    margin-left: 15px;
    font-size: 20px;
    margin-bottom: 10px;
}
.for-second-container{
    display: flex;
    justify-content: space-between;
}
.sec-main{
    display: flex;
}
.text1,.text3{
    padding:8px;
}
.text3{
    margin-left:10px ;
}
.text2{
    width: 100%;
    margin-top:10px;
    padding:10px;
}
.text-field button{
    margin-top:10px;
    padding:10px 20px;
    background: black;
    color:white;
    border:none;
    float: right;
    cursor: pointer;
}
.text-field button:hover{
    background: gray;
}
.map{
    margin-bottom: 40px;
}
.footer{
    width: 50%;
    margin:0px auto;
    font-size: 30px;
    color:gray;
    text-align: center;
}
.icon{
    margin:10px;
    
}
@media screen  and (max-width: 720px){
    .dropdown-content a{
        display: none;
    } 
    .list li{
        float:none;
    }
    .search{
        display: none;
    }
    .triple{
        display: block;
        position: absolute;
        top:0;
        right: 0;
        padding:15px;
        color: white;
        cursor: pointer;
    }
    .nav-bar{
        width:100%;
    }
    .active{
        width: 15%;
    }
    .nav-bar li:not(:first-child) {
        display: none;
    }
    .nav-bar.responsive li {
        float: none;
        display: block;
    }
    .name{
        display: none;
    }
    .sec-main-container{
        width: 90%;
    }
    .sec-second-container{
        flex-direction: column;
    }
    .banner{
        text-align: center;
        margin-bottom: 20px;
    }
    .banner img{
        height: 300px;
        width: 300px;
    }
    .large{
        width: 100%;
    }
    .one-div , .last-div{
        width: 95%;
    }
    .trd-second-container{
        flex-direction: column;
        width: 95%;
    }
    .f-div img{
        width: 100%;
        height: 400px;
    }
    .f-div{
        margin: 10px;
    }
    .for-main-container{
        width: 95%;
    }
    .for-second-container{
        flex-direction: column;
    }
    .main{
        margin-bottom: 20px;
    }
    .footer{
        font-size: 20px;
    }
}
